/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

p {
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0; 
    
    /*Pour que la top bar soit identique a la maquette, j'ai remis a zero le margin qui etait par defaut a 8px*/

}

/* Partie header*/

header {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    
    
}

nav{ 
    width: 100%;
    display: flex;
}

 #logo {
    height: 19px;
    padding: 30px 0px 30px 0px
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar a {
    padding-top: 16px;
}

.navbar a:hover{
    border-top: 2px var(--main-color) solid ;
    color: var(--main-color);
}

.nav-links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 69px;
}
/*Partie Formulaire*/

 h1 +p {
    margin: 8px 0px 35px 0px;
}
.form-and-filter {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

form {
    width:377px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px var(--main-bg-color) solid;  
    border-radius: 10px;
    
    
}

.fa-location-dot {
    color: black;
}

input[type="search"] {
    
    display: flex;
    text-align: center;
    border:none;
    background:none;
    font-size: 18px;
    font-weight: 700;

}

input[type="submit"] {
    display: flex;
    justify-content: center;
    
    display: flex;
    border:none;
    background:none;
    
    padding: 14px 16px;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;
    font-weight: 700;
    color: var(--main-bg-color);
    background-color: var(--main-color);
}


.form-element-icon {
    
    padding: 15px 18px 16px 18px;
    border-radius: 10px 0px 0px 10px;
    background: var(--main-bg-color);   
}

.test-filter{
    display: flex;
    align-items: center;
    gap: 15px;
}
.filter {
    
    height: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter p {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 19px;
    border: 2px  #D9D9D9 solid;
    border-radius: 25px;
    gap: 10px;
    font-weight: 700;

}

.filter p:hover {
    background-color: #DEEBFF;

}

.infobar{
    display: flex;
    align-items: center;
    margin-top: 35px;
   
}

.info-icon {                
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px #D9D9D9 solid;
    border-radius: 150px;
    margin-right: 10px; 
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;  
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, .10);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
   width: 68%;
}
.hebergements .hebergement-cards {
    
    display: flex;
    gap: 30px;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}
.hebergements .hebergement-title {
    margin-bottom: 30px;
}

.container{
    display: flex;
    gap: 30px;
}
.hebergements .card img{
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;      
}

.hebergement-cards .card {
    display: flex;
    flex-direction: column;
    gap: 8px;   
}

.hebergement-cards .card-title{
    margin: 0px 0px 8px 0px;
}
.hebergement-cards .card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 15px;   
}   

.hebergement-cards .card-content p {
    font-size: 14px;
}

.hebergements h3 {
    display: inline;
}
  

.hebergements a {
    width: 100%; 
    display: grid;
}
    
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** Activités à Marseille *************/
 
.section-activite {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 35px 0px;  
 }

 .card-container {
    width: 100%;
    display: flex;
    gap: 30px;
 }  

 .card-container a{
    flex: 1;
 }
 .act-card {
    display: flex;
    flex-direction: column;
   
 }

 .act-card-photo {
    
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;    
 }

.act-card-name  { 
    height: 59px;
    border-radius: 0px 0px 20px 20px;
    font-weight: 700;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, .10);
    display: flex;
    align-items: center;
    padding-left: 19px;
    font-size: 1rem;
}


.footbar {
    display: flex;
    margin-top: 35px;
    padding: 20px;
    background-color: var(--main-bg-color); 
}

.footbar span {
    font-weight: 700;
}

 .footlink {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    
 }
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .test-filter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;   
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
       width: inherit;
    }

    .hebergement-cards{
        
    }

    .cards-container{
       
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .act-card-photo{
        height: 200px;
    }
}   

    

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-links a:hover{
        padding-bottom: 15px;
        border-bottom: 2px var(--main-color) solid ;
        color: var(--main-color);
        border-top: inherit;
    }

    .nav-links{
        justify-content: center;
    }

   .container{
    display: grid;

   }
  act-card-photo{
    height: 141px;
  }
}